<!DOCTYPE html>
<html>
  <head>
    <title>RailsMisterCocktail</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  </head>

  <body>
    <header class="d-flex align-items-center justify-content-between p-3">
      <h1>THE COCKTAIL APP</h1>
      <p>By Miles Bader</p>
    </header>

    <nav class="container px-3 mb-3">
      <%= link_to "My Cocktails", cocktails_path, class: 'btn btn-primary' %>
      <%= link_to "Create Cocktail", new_cocktail_path, class: 'btn btn-primary' %>
    </nav>

    <div class="container">
      <%= yield %>
    </div>

    <footer class="p-3 mt-5">
      <p>Created @ Le Wagon</p>
    </footer>

    <%= javascript_include_tag "application" %> <!-- from app/assets/javascripts/application.js -->
    <%= javascript_pack_tag "application" %>    <!-- from app/javascript/packs/application.js -->
  </body>
</html>
